In [1]:
import os

In [2]:
os.getcwd()

'C:\\Users\\Praveen\\Desktop\\INSOFE\\Labs\\Practice\\Python'

In [4]:
import pandas as pd

In [7]:
ipl=pd.read_csv("matches2008-2016.csv")

In [9]:
ipl.head()

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
0,2008_1,2008,Bangalore,18-04-2008,KKR,RCB,RCB,field,normal,0,KKR,140,0,Brendon McCullum,82.0,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,Asad Rauf,RE Koertzen
1,2008_2,2008,Chandigarh,19-04-2008,CSK,KXI,CSK,bat,normal,0,CSK,33,0,Michael Hussey,18.0,I.S. Bindra Punjab Cricket Association Stadium...,9,MR Benson,SL Shastri
2,2008_3,2008,Delhi,19-04-2008,RR,DD,RR,bat,normal,0,DD,0,9,Farveez Maharoof,60.0,"Feroz Shah Kotla Stadium, Delhi",2,Aleem Dar,GA Pratapkumar
3,2008_4,2008,Mumbai,20-04-2008,MI,RCB,MI,bat,normal,0,RCB,0,5,Mark Boucher,145.0,"Wankhede Stadium, Mumbai, Maharashtra",1,SJ Davis,DJ Harper
4,2008_5,2008,Kolkata,20-04-2008,DC,KKR,DC,bat,normal,0,KKR,0,5,David Hussey,80.0,"Eden Garden Stadium, Kolkata, West Bengal",3,BF Bowden,K Hariharan

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
57,2017_58,2017,Bangalore,19-05-2017,KKR,MI,MI,field,normal,0,MI,0,6,Karn Sharma,254,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,NJ Llong,Nitin Menon
58,2017_59,2017,Hyderabad,21-05-2017,MI,RPS,MI,bat,normal,0,MI,1,0,Krunal Pandya,582,"Rajiv Gandhi International Stadium, Hyderabad",4,NJ Llong,S Ravi

In [24]:
ipl_final = ipl.set_index("match_id")

In [25]:
ipl_final.head(2)

,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
match_id,,,,,,,,,,,,,,,,,,
2008_1,2008,Bangalore,18-04-2008,KKR,RCB,RCB,field,normal,0,KKR,140,0,Brendon McCullum,82.0,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,Asad Rauf,RE Koertzen
2008_2,2008,Chandigarh,19-04-2008,CSK,KXI,CSK,bat,normal,0,CSK,33,0,Michael Hussey,18.0,I.S. Bindra Punjab Cricket Association Stadium...,9,MR Benson,SL Shastri

In [26]:
ipl_final[0:2,0:2]

TypeError: unhashable type: 'slice'

In [27]:
ipl_final.iloc[0:2,0:2]

          season        city
match_id
2008_1      2008   Bangalore
2008_2      2008  Chandigarh

In [33]:
ipl_final.loc[["2008_1","2008_2"], ["season","city"]]

          season        city
match_id
2008_1      2008   Bangalore
2008_2      2008  Chandigarh

In [39]:
ipl_final.loc[ipl_final.index[0:2], ["season","city"]]

          season        city
match_id
2008_1      2008   Bangalore
2008_2      2008  Chandigarh

In [46]:
ipl_final.loc[["2008_1","2008_2"],ipl_final.columns[0:2]]

          season        city
match_id
2008_1      2008   Bangalore
2008_2      2008  Chandigarh